$NORMAL_BUTTON_COLOR: #0D47A1;

:host {
    .button {
        font-family: 'Oswald';
        text-transform: uppercase;
        font-weight: 500;
        color: #FFFFFF;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

    .normal {
        background-color: $NORMAL_BUTTON_COLOR;

        &:hover {
            background-color: darken($NORMAL_BUTTON_COLOR, 5%);
        }
    }
}
