:host {
    border: 1px solid #000000;
    padding: 24px;

    .course-form__block {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    .course-form__buttons {
        width: 140px;
        display: flex;
        justify-content: space-between;
    }
}
