$ACTION_BAR_HEIGHT: 40px;

:host {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    height: $ACTION_BAR_HEIGHT;
    background-color: #E0E0E0;

    .action-bar__search {
        & .search-bar__input {
            background-color: #E0E0E0;
        }
    }

    .action-bar__add-course {
        position: absolute;
        right: 20px;
    }
}
