:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px;

    background-color: #F2F2F2;

    font-size: 0.8em;
    font-weight: 300;

    color: grey;
}
