:host {
    color: #FFFFFF;

    .header {
        display: flex;
        align-items: center;
        background-color: #0F256E;
        height: 78px;
    }

    .header__title {
        margin-left: 30px;
        text-transform: uppercase;
        font-weight: 300;
    }

  .header__auth-buttons {
      position: absolute;
      right: 10px;
  }
}
