:host {
    display: flex;
    text-transform: uppercase;
    background-color: #E0E0E0;
    padding: 4px;

    .breadcrumbs {
        display: flex;
        align-items: center;
        list-style: none;
    }

    .breadcrumbs__item {
        cursor: pointer;
        margin-right: 4px;
    }
}
