* {
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    font-family: 'Oswald';
    height: 100%;
}

body {
    display: flex;
    flex: 1;
}

input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid grey;
    outline: none;
}

.border-green {
    border: 2px solid #A5D6A7;
}

.border-blue {
    border: 2px solid #90CAF9;
}
