:host {
    padding: 32px;
    border: 1px solid #000000;

    .login-form {
        display: flex;
        flex-direction: column;
    }

    .login-form__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 16px;
    }
}
